html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #222;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 10%, transparent 0), linear-gradient(#222, #000);
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);

  grid-gap:2vmin;
  justify-items: center;
  align-items: center;
}

img {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;

  // clip path polygon
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  // on hover, will be scaled to 2
  transform: scale(1);
  transition: all 0.3s;

  &:nth-child(7n+1) {
    // For n=0, 1st child --> the image should start at 2 column
    // For n=1, 8th child --> the image should start at 2nd column and span to 2 columns
    grid-column: 2 / span 2;
  }

  &:hover {
    z-index: 2;
    transform: scale(1.4);
  }
}

